{{#if error}}
    <h2>{{etext}}</h2>
{{else}}
    <div class="profile">
     {{!-- <h2>Hey!</h2> --}}
        <img src="../public/img/{{profilePic}}" class="profile" alt="{{firstName}}"/>
        <h1 class='profile-text'>{{firstName}} {{lastName}}</h1>
        <h1 class='profile-text'>{{email}}</h1>
        <section id="edit">
            <button class='edit' type="button">Edit Profile</button>
        </section>
    </div>
{{/if}}
